Node-RED/Node-RED_flow.json
[
    {
        "id": "32c1fd5e.098ec2",
        "type": "tab",
        "label": "Zuul- Websocket",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95de46d2.506628",
        "type": "websocket out",
        "z": "32c1fd5e.098ec2",
        "name": "zuul",
        "server": "",
        "client": "4025a95e85247f7b",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "555024da.a2d69c",
        "type": "websocket in",
        "z": "32c1fd5e.098ec2",
        "name": "Zuul",
        "server": "",
        "client": "4025a95e85247f7b",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "3c6d3630.41e21a"
            ]
        ]
    },
    {
        "id": "4786210e.c8c08",
        "type": "debug",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed3f53ff.e57f5",
        "type": "comment",
        "z": "32c1fd5e.098ec2",
        "name": "Client",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ed49469.3c9358",
        "type": "json",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c262156a.4af558",
                "a28d858a.f80338"
            ]
        ]
    },
    {
        "id": "e9b01134.ce2ed",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "Set OTP Parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "ac_otprequest",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.result",
                "pt": "msg",
                "to": "zuul_active",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.config.msg",
                "pt": "msg",
                "to": "zuul_msg",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.config.type",
                "pt": "msg",
                "to": "qrcode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.keypadchars",
                "pt": "msg",
                "to": "1234567890ABCD",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.length",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.config.valid_time",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "4786210e.c8c08",
                "95de46d2.506628"
            ]
        ]
    },
    {
        "id": "c262156a.4af558",
        "type": "switch",
        "z": "32c1fd5e.098ec2",
        "name": "OTP Request",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.type = \"otprequest\"",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "payload.type = \"tokenstate\"  and  payload.config.valid = true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "e9b01134.ce2ed"
            ],
            [
                "665b57f8.5d4768",
                "34cec614d74bf158"
            ],
            []
        ]
    },
    {
        "id": "3c6d3630.41e21a",
        "type": "function",
        "z": "32c1fd5e.098ec2",
        "name": "Kill Session",
        "func": "msg._session = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "9ed49469.3c9358"
            ]
        ]
    },
    {
        "id": "9d6e5f0.a99c5a",
        "type": "inject",
        "z": "32c1fd5e.098ec2",
        "name": "TRUE",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "4808ec97.fa80b4"
            ]
        ]
    },
    {
        "id": "a7f4c80.7e8b738",
        "type": "inject",
        "z": "32c1fd5e.098ec2",
        "name": "FALSE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "4808ec97.fa80b4"
            ]
        ]
    },
    {
        "id": "4808ec97.fa80b4",
        "type": "rbe",
        "z": "32c1fd5e.098ec2",
        "name": "Detect Change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "925f2da0.bef99",
                "9952b919.359a08"
            ]
        ]
    },
    {
        "id": "925f2da0.bef99",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "zuul_active",
        "rules": [
            {
                "t": "set",
                "p": "zuul_active",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ae387f.d10208",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "zuul_msg_Ok",
        "rules": [
            {
                "t": "set",
                "p": "zuul_msg",
                "pt": "flow",
                "to": "Hinein spaziert! Dein QRCode ist {0} Sekunden gültig",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9952b919.359a08",
        "type": "switch",
        "z": "32c1fd5e.098ec2",
        "name": "Set OTP Message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "f4ae387f.d10208"
            ],
            [
                "e274611f.2f38e"
            ]
        ]
    },
    {
        "id": "e274611f.2f38e",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "zuul_msg_Denied",
        "rules": [
            {
                "t": "set",
                "p": "zuul_msg",
                "pt": "flow",
                "to": "Passt gerade nicht..",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "58cf6248.7a406c",
        "type": "websocket out",
        "z": "32c1fd5e.098ec2",
        "name": "zuul",
        "server": "",
        "client": "4025a95e85247f7b",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "595c27c8.759778",
        "type": "template",
        "z": "32c1fd5e.098ec2",
        "name": "Send Token",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"type\": \"ac_tokenquery\", \"config\":{ \"token\": \"{{{payload}}}\", \"doorid\": \"1\" } }",
        "output": "json",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "58cf6248.7a406c",
                "4786210e.c8c08"
            ]
        ]
    },
    {
        "id": "5769967d.e270b8",
        "type": "mqtt out",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "topic": "qrdoor/e661308e3728732/open",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059bca2abc83dd01",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "a28d858a.f80338",
        "type": "debug",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "3a7fb79f.fd3da8",
        "type": "mqtt in",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "topic": "qrdoor/e661308e3728732/code",
        "qos": "2",
        "datatype": "utf8",
        "broker": "059bca2abc83dd01",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "595c27c8.759778",
                "4786210e.c8c08"
            ]
        ]
    },
    {
        "id": "665b57f8.5d4768",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "Filter Door-ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.config.msg.doorid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 480,
        "wires": [
            [
                "6e298f59.4ff2f",
                "fa57583d.4a4738"
            ]
        ]
    },
    {
        "id": "6e298f59.4ff2f",
        "type": "mqtt out",
        "z": "32c1fd5e.098ec2",
        "name": "Modem",
        "topic": "serial/dial",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059bca2abc83dd01",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "fa57583d.4a4738",
        "type": "debug",
        "z": "32c1fd5e.098ec2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "34cec614d74bf158",
        "type": "change",
        "z": "32c1fd5e.098ec2",
        "name": "Set ON time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "5769967d.e270b8"
            ]
        ]
    },
    {
        "id": "4025a95e85247f7b",
        "type": "websocket-client",
        "path": "ws://zuulac:8000/",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "059bca2abc83dd01",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]