Node-RED/Node-RED_flow.json
[
    {
        "id": "4b10bec0.8c7db",
        "type": "tab",
        "label": "Zuul- Websocket",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39bf9eb1.759532",
        "type": "websocket out",
        "z": "4b10bec0.8c7db",
        "name": "zuul",
        "server": "",
        "client": "e3f261fa.2a6a8",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "d449d54b.93f8e8",
        "type": "websocket in",
        "z": "4b10bec0.8c7db",
        "name": "Zuul",
        "server": "",
        "client": "e3f261fa.2a6a8",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "b0f14098.2dba2"
            ]
        ]
    },
    {
        "id": "a7c09a77.eee658",
        "type": "debug",
        "z": "4b10bec0.8c7db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "870d63e9.811d1",
        "type": "comment",
        "z": "4b10bec0.8c7db",
        "name": "Client",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "e719758f.c21f28",
        "type": "json",
        "z": "4b10bec0.8c7db",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c98d2818.750358",
                "3fc29212.dbf0be"
            ]
        ]
    },
    {
        "id": "f41ecce5.c705d",
        "type": "change",
        "z": "4b10bec0.8c7db",
        "name": "Set OTP Parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "ac_otprequest",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.result",
                "pt": "msg",
                "to": "zuul_active",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.config.msg",
                "pt": "msg",
                "to": "zuul_msg",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.config.type",
                "pt": "msg",
                "to": "qrcode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.keypadchars",
                "pt": "msg",
                "to": "1234567890ABCD",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.config.length",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.config.valid_time",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "a7c09a77.eee658",
                "39bf9eb1.759532"
            ]
        ]
    },
    {
        "id": "c98d2818.750358",
        "type": "switch",
        "z": "4b10bec0.8c7db",
        "name": "OTP Request",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.type = \"otprequest\"",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "payload.type = \"tokenstate\"  and  payload.config.valid = true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "f41ecce5.c705d"
            ],
            [
                "fc5d67fb.c07708"
            ],
            []
        ]
    },
    {
        "id": "b0f14098.2dba2",
        "type": "function",
        "z": "4b10bec0.8c7db",
        "name": "Kill Session",
        "func": "msg._session = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "e719758f.c21f28"
            ]
        ]
    },
    {
        "id": "cb9c7c74.0b6f6",
        "type": "inject",
        "z": "4b10bec0.8c7db",
        "name": "TRUE",
        "topic": "A",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "ebcc65aa.8cd9a8"
            ]
        ]
    },
    {
        "id": "f56c5592.71fe88",
        "type": "inject",
        "z": "4b10bec0.8c7db",
        "name": "FALSE",
        "topic": "A",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "ebcc65aa.8cd9a8"
            ]
        ]
    },
    {
        "id": "ebcc65aa.8cd9a8",
        "type": "rbe",
        "z": "4b10bec0.8c7db",
        "name": "Detect Change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "5dea40ca.3bd8",
                "99204501.645828",
                "44b75386.1e0c1c"
            ]
        ]
    },
    {
        "id": "5dea40ca.3bd8",
        "type": "change",
        "z": "4b10bec0.8c7db",
        "name": "zuul_active",
        "rules": [
            {
                "t": "set",
                "p": "zuul_active",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "99204501.645828",
        "type": "BDebug",
        "z": "4b10bec0.8c7db",
        "name": "Debug",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "6192c65a.fc6c58",
        "type": "change",
        "z": "4b10bec0.8c7db",
        "name": "zuul_msg_Ok",
        "rules": [
            {
                "t": "set",
                "p": "zuul_msg",
                "pt": "flow",
                "to": "Hinein spaziert! Dein QRCode ist {0} Sekunden gültig",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "44b75386.1e0c1c",
        "type": "switch",
        "z": "4b10bec0.8c7db",
        "name": "Set OTP Message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "6192c65a.fc6c58"
            ],
            [
                "1a38b823.76c4d8"
            ]
        ]
    },
    {
        "id": "1a38b823.76c4d8",
        "type": "change",
        "z": "4b10bec0.8c7db",
        "name": "zuul_msg_Denied",
        "rules": [
            {
                "t": "set",
                "p": "zuul_msg",
                "pt": "flow",
                "to": "Passt gerade nicht..",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ba2a4d6a.151c3",
        "type": "websocket out",
        "z": "4b10bec0.8c7db",
        "name": "zuul",
        "server": "",
        "client": "e3f261fa.2a6a8",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "fedb82a0.2ea28",
        "type": "template",
        "z": "4b10bec0.8c7db",
        "name": "Send Token",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"type\": \"ac_tokenquery\", \"config\":{ \"token\": \"{{{payload}}}\"}}",
        "output": "str",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "ba2a4d6a.151c3",
                "a7c09a77.eee658"
            ]
        ]
    },
    {
        "id": "fc5d67fb.c07708",
        "type": "trigger",
        "z": "4b10bec0.8c7db",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "Door Opener 3 Secs",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "3b26e232.858fee"
            ]
        ]
    },
    {
        "id": "3b26e232.858fee",
        "type": "mqtt out",
        "z": "4b10bec0.8c7db",
        "name": "",
        "topic": "cmnd/tasmota/POWER",
        "qos": "",
        "retain": "",
        "broker": "51e04813.b46358",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "3fc29212.dbf0be",
        "type": "debug",
        "z": "4b10bec0.8c7db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "ee0538eb.a73038",
        "type": "mqtt in",
        "z": "4b10bec0.8c7db",
        "name": "",
        "topic": "door/qrcode",
        "qos": "2",
        "datatype": "auto",
        "broker": "51e04813.b46358",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "fedb82a0.2ea28"
            ]
        ]
    },
    {
        "id": "e3f261fa.2a6a8",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.27:8000/ws/request",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "51e04813.b46358",
        "type": "mqtt-broker",
        "z": "",
        "name": "docker mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]